.header {
	background-color: var(--secondary-color) !important;
}

.centered {
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
	margin-left: 85px;
}

.content {
	margin: 3rem 5rem;
}

.title {
	box-shadow: 0 0 10px var(--accent-color);
	background-color: var(--secondary-color);
	color: var(--primary-color);
	margin-top: 0;
	margin-bottom: 20px;
	padding: 30px 60px;
}


.sidebar-open {
	opacity: 50%;
}

.error {
	color: red;
}
