.project {
	background-color: var(--primary-color-light);
	border-left: 5px solid var(--neutral-color);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.indicator {
	width: 20px;
	height: 100%;
    min-height: 50px;
	background-color: green;
}

.projectsNav {
	background-color: var(--neutral-color) !important;
	padding: 1rem !important;
}

.project-action {
	position: relative;
  	display: inline-block;
	margin: auto auto;
	justify-content: center;
	align-items: center;	
}

.project-action i {
	background-color: var(--primary-color-light);
	transition: filter 0.3s ease;
}

.project-action i:hover {
	cursor: pointer;
	filter: brightness(80%); /* Darken on hover */
}

.selection-panel {
	position: absolute;
	float:right;
  	right: 0;
  	background-color: var(--accent-color);
	
  	min-width: 100px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
  
  .selection-panel div {
	font-size: large;
	display: block;
	padding: 20px;
	color: var(--primary-color);
	border: none;
	background: none;
	text-align: center;
  }

  .selection-panel div:hover {
	cursor: pointer;
	color: var(--neutral-color);
  }

  .project {
	display: grid;
	grid-template-columns: 3fr 53px; /* Adjust based on the number of columns */
	text-align: center;  
}



.project-content {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;	
	text-align: center; 
}