.data-controls {
	display: flex;
	gap: 30px;
}

.projects {
	margin: 2rem 0;
	display: grid;
	gap: 20px;
}

.project-descriptions, .project-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 53px; /* Adjust based on the number of columns */
	text-align: center;  
}

.no-projects {
	margin-top: 2rem;
	text-align: center;
}