.home h1 {
	padding: 40px;
	text-align: center;
}

.home h2 {
	font-size: 1.5rem;
}

.home-wrapper {
	display: flex;
	margin: 50px 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.home-content {
	flex: 0 0 80%;
	background-color: var(--primary-color-light);
}

.home-content h2 {
	text-align: center;
	padding: 20px;
	border-bottom: solid 1px var(--primary-color);
}
  
.home-sidebar {
	flex: 0 0 20%;
	background-color: #e0e0e0; 
	margin-top: 20px;
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: column;
}	

.home-tasks {
	display: flex;
	flex: 1 1 auto;
	border-bottom: solid 1px var(--primary-color);
	text-align: center;
	justify-content: center;
	min-height: 100px;
}

.home-projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	min-height: 100px;
}

.home-projects h3 {
	text-align: left;
}

.home-projects p, .home-tasks p {
	align-self: center;

}
