.dashboard {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 1rem;
	padding: 2rem;
	margin: 1rem;
}

.dashboard table {
	width: 100%;
}

.centered {
	text-align: center;
}